<span>
    <div class="sidebar-sub-content-title">
        <input id="mipBackground" class="med3d-checkbox" type="checkbox" ng-model="vptGData.vptBundle.mip.background">
        <b style="color: white; font-size: 14px; font-weight: 500;">Use background</b>
    </div>

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Blend mesh render</b>
    </div>
    <div class="sidebar-slider-checkbox" style="display:block">
        <div id="blendSliderMIP" class="med3d-slider" style = "margin-right: 30px; display: inline-block; width: 70%;">
            <div id="blendHandleMIP" class="ui-slider-handle med3d-slider-handle"></div>
        </div>
        <input id="mipMeshLight" class="med3d-checkbox-custom1-meshLights" type="checkbox" ng-model="vptGData.vptBundle.mip.meshLight">
        <label for="mipMeshLight" style=" display: inline-block; position: absolute; font-size: 20px; margin-top: 2px;">
    </div>

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Volume render resolution</b>
    </div>
    <div id="resolutionSliderMIP" class="med3d-slider" style="margin-bottom: 40px">
        <div id="resolutionHandleMIP" class="ui-slider-handle med3d-slider-handle" style="width: 1em !important; margin-left: -0.5em !important"></div>
    </div>

    <hr class="med3d-sidebar-hr" style="margin-left: 5px; margin-top: 11px">

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Steps</b>
        <input id="steps" name="inSteps" type="number" value="10" min="1" class="form-control volume-loader-iso-input" style="width: 50%; height: 30px"
            required>
    </div>


</span>