<span>
    <div class="sidebar-content-title">
      VPT Settings
    </div>
    <div class="sidebar-content" style="padding-right: 30px;">
        <div class="sidebar-sub-content-title">
            MCS Properties
            <div class="panel-body">
                    <div class="input-group input-group-sm">
                      <label class="input-group-addon">Sigma max</label>
                      <input name="sigma-max" class="form-control" type="number" min="0" step="0.1">
                    </div>
                    <div class="input-group input-group-sm">
                      <label class="input-group-addon">Alpha correction</label>
                      <input name="alpha-correction" class="form-control" type="number" min="0" step="0.1">
                    </div>
                    <div class="tfw-container">
            </div>
        </div>
        <hr class="med3d-sidebar-hr">
        <div class="sidebar-sub-content-title">
            Reinhard Tone Mapper
            <div class="input-group input-group-sm">
                <label class="input-group-addon">Exposure</label>
                <input name="exposure" class="form-control" type="number" min="0" step="0.1">
            </div>
        </div>
        <hr class="med3d-sidebar-hr">
        <div class="sidebar-sub-content-title">
            Range Tone Mapper
            <div class="input-group input-group-sm">
                <label class="input-group-addon">Min</label>
                <input name="min" class="form-control" type="number" min="0" step="0.1">
            </div>
            <div class="input-group input-group-sm">
                <label class="input-group-addon">Max</label>
                <input name="max" class="form-control" type="number" min="0" step="0.1">
            </div>
    
        </div>
    </div>
</span>