<span>
    <div class="sidebar-content-title">
        Volumetric render options
    </div>
    <div class="sidebar-content" style="height: calc(100% - 73px);">
        <div class="sidebar-sub-content-title">
            Selected render method
            <div class="panel-body">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary" ng-click="setRenderer(4)" href="#settingsMIP" data-toggle="tab">
                        <input type="radio" name="rend-selection" id="renderer1" autocomplete="off"> MIP
                    </label>
                    <label class="btn btn-primary" ng-click="setRenderer(2)" href="#settingsISO" data-toggle="tab">
                        <input type="radio" name="rend-selection" id="renderer2" autocomplete="off"> ISO
                    </label>
                    <label class="btn btn-primary" ng-click="setRenderer(1)" href="#settingsEAM" data-toggle="tab">
                        <input type="radio" name="rend-selection" id="renderer3" autocomplete="off"> EAM
                    </label>
                    <label class="btn btn-primary active" ng-click="setRenderer(3)" href="#settingsMCS" data-toggle="tab">
                        <input type="radio" name="rend-selection" id="renderer4" autocomplete="off" checked> MCS
                    </label>
                </div>
            </div>
        </div>

        <hr class="med3d-sidebar-hr" style="margin-left: 16px; margin-top: 0px">

        <div class="list-group mCustomScrollbar" data-mcs-axis="y" style="-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; height: calc(100vh - 325px);">

            <!-- Renderer settings tabs -->
            <div class="sidebar-sub-content-title">
                Renderer settings
                <div class="tab-content">
                    <div class="tab-pane fade" id="settingsMIP">
                        <mip-settings ng-controller="MIPSettingsController"></mip-settings>
                    </div>
                    <div class="tab-pane fade" id="settingsISO">
                        <iso-settings ng-controller="ISOSettingsController"></iso-settings>
                    </div>
                    <div class="tab-pane fade" id="settingsEAM">
                        <eam-settings ng-controller="EAMSettingsController"></eam-settings>
                    </div>
                    <div class="tab-pane fade active in" id="settingsMCS">
                        <mcs-settings ng-controller="MCSSettingsController"></mcs-settings>
                    </div>
                </div>
            </div>
        </div>


        <div style="position: fixed; bottom: 10px; width: 300px">
            <hr class="med3d-sidebar-hr" style="margin-left: 16px; margin-top: 10px">

            <div class="sidebar-sub-content-title">
                Tone Mapper
            </div>

            <div class="sidebar-sub-content-title">
                <b style="color: white; font-size: 14px; font-weight: 500;"></b>Reinhard Tone Mapper: Exposure</b>
                <div id="exposureSlider" class="med3d-slider">
                    <div id="exposureHandle" class="ui-slider-handle med3d-slider-handle"></div>
                </div>
            </div>

            <div class="sidebar-sub-content-title">
                <b style="color: white; font-size: 14px; font-weight: 500;"></b>Range Tone Mapper: Range</b>
                <div id="rangeSlider" class="med3d-slider">
                    <div id="rangeHandle1" class="ui-slider-handle med3d-slider-handle"></div>
                    <div id="rangeHandle2" class="ui-slider-handle med3d-slider-handle"></div>
                </div>
            </div>
        </div>
    </div>


    </div>
</span>