<span>
    <div class="sidebar-sub-content-title">
        <input id="isoBackground" class="med3d-checkbox" type="checkbox" ng-model="publicRenderData.vptBundle.iso.background">
        <b style="color: white; font-size: 14px; font-weight: 500;">Use background</b>
    </div>

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Blend mesh render</b>
    </div>
    <div class="sidebar-slider-checkbox" style="display:block">
        <div id="blendSliderISO" class="med3d-slider" style = "margin-right: 30px; display: inline-block; width: 70%;">
            <div id="blendHandleISO" class="ui-slider-handle med3d-slider-handle"></div>
        </div>
        <input id="isoMeshLight" class="med3d-checkbox-custom1-meshLights" type="checkbox" ng-model="publicRenderData.vptBundle.iso.meshLight">
        <label for="isoMeshLight" style=" display: inline-block; position: absolute; font-size: 20px; margin-top: 2px;">
    </div>

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Volume render resolution</b>
    </div>
    <div id="resolutionSliderISO" class="med3d-slider" style="margin-bottom: 40px">
        <div id="resolutionHandleISO" class="ui-slider-handle med3d-slider-handle" style="width: 1em !important; margin-left: -0.5em !important"></div>
    </div>

    <hr class="med3d-sidebar-hr" style="margin-left: 5px; margin-top: 11px">

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Steps</b>
        <input id="steps" name="inSteps" type="number" value="10" min="1" class="form-control volume-loader-iso-input" style="width: 50%; height: 30px"
            required>
    </div>


    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">ISO value</b>
        <input id="iso" name="inISO" type="number" value="0.5" min="0.01" step="0.01" class="form-control volume-loader-iso-input"
            style="width: 50%; height: 30px" required>
    </div>

    <div class="sidebar-sub-content-title">
        <b style="color: white; font-size: 14px; font-weight: 500;">Color</b>
    </div>
    <div id="inColor" style="display: inline-block;"></div>
</span>